 body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #fff;
}

.container {
  text-align: center;
  padding: 60px;
}

h1 {
  margin-bottom: 40px;
  font-size: 2.2em;
  color: #f2f2f2;
}

.nav a {
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
 background-color: #ffffff;
  color: #2c5364;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav a:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

.logout-btn {
  background-color: crimson;
  color: black !important;
}

